<!DOCTYPE html>
<html>
<head>
  <title>ZerdleRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Home", root_path %>
<%= link_to "Mission", about_path %>
<%= link_to "Login", login_path %>
<%= link_to "Sign up", signup_path %>
<%= yield %>

</body>
</html>
