<!DOCTYPE html>
<html>
<head>
  <title>ZerdleRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>

    <%= yield %>

  <h3>Discover</h3>
    <p>Get the App</p>
    <p>Invite Friends</p>
    <p>Support</p>
    <p>Unshopping Challenge</p>
    <p>Login</p>

  <h3>About Us</h3>
    <p>Mission</p>
    <p>Press</p>
    <p>Jobs</p>

  <h3>Connect</h3>
    <p>Facebook</p>
    <p>Twitter</p>
    <p>Instagram</p>
    <p>Blog</p>
  <h6>© 2015 Zerdle · 007 Bond Street, San Francisco, CA · Privacy & Terms</h6>
</body>
</html>
